*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/sonarIssues.xml
/.idea/modules.xml
/.idea/misc.xml
.idea/inspectionProfiles/
.idea/vcs.xml
