<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomaszek.drfeverworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".IbuprofenActivity"
            android:label="@string/title_activity_ibuprofen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParacetamolActivity"
            android:label="@string/title_activity_paracetamol"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>